Pods/Target Support Files/Pods
Pods
.idea
Podfile.lock
PromiseKit+AFNetworking.xcodeproj/project.xcworkspace/xcshareddata/PromiseKit+AFNetworking.xccheckout
PromiseKit+AFNetworking.xcworkspace/xcshareddata/PromiseKit+AFNetworking.xccheckout
